{% extends 'layout/admin_base.html' %}

{% block title_layout %}
    <h3>{% if perms.jobs.index_jobtype %}<a href="{% url 'profilejobs-index' %}" data-tooltip="tooltip" title="Atrás"><i
            class="fa fa-arrow-circle-left"></i></a> {% endif %} Modificando Asignacion</h3>
{% endblock %}
{% block layout %}
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                {% include 'partials/_partial_form_horizontal.html' %}
            </div>
        </div>
    </div>
{% endblock %}
{% block code_js %}
    <script>
        $(document).ready(function () {
            $('input:checkbox').addClass('js-switch');

            var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
            $('.js-switch').each(function () {
                new Switchery($(this)[0], $(this).data());
            });
        });
    </script>
{% endblock %}