{% extends 'layout/base.html' %}
{% block submit %}
    Guardar
{% endblock %}
{% block title %}
    Modificar
{% endblock %}
{% block link_back %}
    {% url 'profilejobs-index' %}
{% endblock %}
{% block panel_title %}
    Modificar
{% endblock %}
{% block panel_title_right %}
{% endblock %}
{% block layout %}
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                {% include 'partials/_partial_form_horizontal.html' %}
            </div>
        </div>
    </div>
{% endblock %}
{% block code_js %}
    <script>
        $(document).ready(function () {
            $('#id_date_of_birth').datepicker({dateFormat: 'dd/mm/yy'});
            $('input:checkbox').addClass('js-switch');

            var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
            $('.js-switch').each(function () {
                new Switchery($(this)[0], $(this).data());
            });
        });
    </script>
{% endblock %}