{% extends 'layout/admin_base.html' %}
{% load utils %}
{% block title_layout %}

    {% if perms.jobs.index_profilejob %}
        <a href="{% url 'profilejobs-index' %}" data-tooltip="tooltip" data-placement="right" title="Atrás">
            <i class="fa fa-arrow-circle-left"></i></a>
    {% endif %}
    Mostrando Asignación

{% endblock %}
{% block layout %}
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <div class="row">
                    <div class="col-md-7">
                        <p>
                            <strong>{% get_verbose_field_name job_obj 'state' %}</strong>
                            {{ profilejob.job.state }}
                        </p>
                        <p>
                            <strong>{% get_verbose_field_name profilejob_obj 'profile' %}</strong>
                            {{ profilejob.profile }}
                        </p>
                        <p>
                            <strong>{% get_verbose_field_name job_obj 'name_client' %}</strong>
                            {{ profilejob.job.name_client }}
                        </p>
                        <p>
                            <strong>{% get_verbose_field_name job_obj 'address' %}</strong>
                            {{ profilejob.job.address }}
                        </p>
                        <p>
                            <strong>{% get_verbose_field_name job_obj 'description' %}</strong>
                            {{ profilejob.job.description }}
                        </p>
                        <p>
                            <strong>{% get_verbose_field_name job_obj 'mobile_phone' %}</strong>
                            {{ profilejob.job.mobile_phone }}
                        </p>
                        <p>
                            <strong>{% get_verbose_field_name job_obj 'jobtype' %}</strong>
                            {{ profilejob.job.jobtype }}
                        </p>
                        <p>
                            <strong>{% get_verbose_field_name job_obj 'register_at' %}</strong>
                            {{ profilejob.job.register_at }}
                        </p>
                        <p>
                            <strong>{% get_verbose_field_name profilejob_obj 'assign_at' %}</strong>
                            {{ profilejob.assign_at }}
                        </p>
                        <p>
                            <strong>{% get_verbose_field_name job_obj 'lat' %}</strong>
                            {{ profilejob.job.lat }}
                        </p>
                        <p>
                            <strong>{% get_verbose_field_name job_obj 'lng' %}</strong>
                            {{ profilejob.job.lng }}
                        </p>
                    </div>

                    <div class="col-md-5" onload="initialize()">
                        <div id="gmap" style="width: 100%; height: 450px"></div>
                    </div>

                </div>


                <h3>Historial</h3>
                <table id="table-users" class="table table-bordered table-striped">
                    <thead class="table-bordered ">
                    <tr>
                        <th>#</th>
                        <th>{% get_verbose_field_name jobhistory_obj 'state' %}</th>
                        <th>{% get_verbose_field_name jobhistory_obj 'observation' %}</th>
                        <th>{% get_verbose_field_name jobhistory_obj 'register_at' %}</th>
                        <th>{% get_verbose_field_name jobhistory_obj 'lat' %}</th>
                        <th>{% get_verbose_field_name jobhistory_obj 'lng' %}</th>
                        <th>{% get_verbose_field_name jobhistory_obj 'profile' %}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for jh in jobhistories %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ jh.state }}</td>
                            <td>{{ jh.observation }}</td>
                            <td>{{ jh.register_at }}</td>
                            <td>{{ jh.lat }}</td>
                            <td>{{ jh.lng }}</td>
                            <td>{{ jh.profile }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

            </div>
        </div>
    </div>
{% endblock %}


{% block code_js %}
    {% include 'partials/_url_gmaps.html' %}

    <script type="text/javascript">
        var map;
        var markers = [];
        var lat = '{{ profilejob.job.lat }}';
        var lng = '{{ profilejob.job.lng }}';
        function initialize() {
            var myLatlng = new google.maps.LatLng(lat, lng);
            var myOptions = {
                zoom: 14,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById("gmap"), myOptions);

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(lat, lng),
                map: map,
                animation: google.maps.Animation.DROP,
                icon: {
                    path: "M27.648 -41.399q0 -3.816 -2.7 -6.516t-6.516 -2.7 -6.516 2.7 -2.7 6.516 2.7 6.516 6.516 2.7 6.516 -2.7 2.7 -6.516zm9.216 0q0 3.924 -1.188 6.444l-13.104 27.864q-0.576 1.188 -1.71 1.872t-2.43 0.684 -2.43 -0.684 -1.674 -1.872l-13.14 -27.864q-1.188 -2.52 -1.188 -6.444 0 -7.632 5.4 -13.032t13.032 -5.4 13.032 5.4 5.4 13.032z",
                    scale: 0.6,
                    strokeWeight: 0.5,
                    strokeColor: '#f43d3d',
                    strokeOpacity: 1,
                    fillColor: '#f43d3d',
                    fillOpacity: 1,
                },
            });
            markers.push(marker);
            {% get_last_history profilejob as pj %}
            {% if pj is not None %}
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng('{{ pj.lat }}', '{{ pj.lng }}'),
                    map: map,
                    animation: google.maps.Animation.DROP,
                    icon: {
                        path: "M27.648 -41.399q0 -3.816 -2.7 -6.516t-6.516 -2.7 -6.516 2.7 -2.7 6.516 2.7 6.516 6.516 2.7 6.516 -2.7 2.7 -6.516zm9.216 0q0 3.924 -1.188 6.444l-13.104 27.864q-0.576 1.188 -1.71 1.872t-2.43 0.684 -2.43 -0.684 -1.674 -1.872l-13.14 -27.864q-1.188 -2.52 -1.188 -6.444 0 -7.632 5.4 -13.032t13.032 -5.4 13.032 5.4 5.4 13.032z",
                        scale: 0.6,
                        strokeWeight: 0.5,
                        strokeColor: '#53cbed',
                        strokeOpacity: 1,
                        fillColor: '#53cbed',
                        fillOpacity: 1,
                    },
                });
                markers.push(marker);
            {% endif %}


        }

        window.onload = function () {
            initialize()
        };
    </script>
{% endblock %}
