{% extends 'layout/admin_base.html' %}
{% load utils %}
{% block title_layout %}
    <h3>
        {% if perms.jobs.index_profilejob %}
            <a href="{% url 'profilejobs-index' %}" data-tooltip="tooltip" title="Atrás">
                <i class="fa fa-arrow-circle-left"></i></a>
        {% endif %}
        Mostrando Asignación
    </h3>
{% endblock %}
{% block layout %}
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <div class="row">
                    <div class="col-md-7">
                        <p>
                            <strong>{% get_verbose_field_name profilejob_obj 'state' %}</strong>
                            {{ profilejob.state }}
                        </p>
                        <p>
                            <strong>{% get_verbose_field_name profilejob_obj 'profile' %}</strong>
                            {{ profilejob.profile }}
                        </p>
                        <p>
                            <strong>{% get_verbose_field_name job_obj 'name_client' %}</strong>
                            {{ profilejob.job.name_client }}
                        </p>
                        <p>
                            <strong>{% get_verbose_field_name job_obj 'address' %}</strong>
                            {{ profilejob.job.address }}
                        </p>
                        <p>
                            <strong>{% get_verbose_field_name job_obj 'description' %}</strong>
                            {{ profilejob.job.description }}
                        </p>
                        <p>
                            <strong>{% get_verbose_field_name job_obj 'mobile_phone' %}</strong>
                            {{ profilejob.job.mobile_phone }}
                        </p>
                        <p>
                            <strong>{% get_verbose_field_name job_obj 'jobtype' %}</strong>
                            {{ profilejob.job.jobtype }}
                        </p>
                        <p>
                            <strong>{% get_verbose_field_name job_obj 'register_at' %}</strong>
                            {{ profilejob.job.register_at }}
                        </p>
                        <p>
                            <strong>{% get_verbose_field_name profilejob_obj 'assign_at' %}</strong>
                            {{ profilejob.assign_at }}
                        </p>
                        <p>
                            <strong>{% get_verbose_field_name job_obj 'lat' %}</strong>
                            {{ profilejob.job.lat }}
                        </p>
                        <p>
                            <strong>{% get_verbose_field_name job_obj 'lng' %}</strong>
                            {{ profilejob.job.lng }}
                        </p>
                    </div>

                    <div class="col-md-5" onload="initialize()">
                        <div id="gmap" style="width: 100%; height: 450px"></div>
                    </div>

                </div>


                <h3>Historial</h3>
                <table id="table-users" class="table table-bordered table-striped">
                    <thead class="table-bordered ">
                    <tr>
                        <th>#</th>
                        <th>{% get_verbose_field_name jobhistory_obj 'state' %}</th>
                        <th>{% get_verbose_field_name jobhistory_obj 'observation' %}</th>
                        <th>{% get_verbose_field_name jobhistory_obj 'register_at' %}</th>
                        <th>{% get_verbose_field_name jobhistory_obj 'lat' %}</th>
                        <th>{% get_verbose_field_name jobhistory_obj 'lng' %}</th>
                        <th>{% get_verbose_field_name jobhistory_obj 'profile' %}</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for jh in jobhistories %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ jh.state }}</td>
                            <td>{{ jh.observation }}</td>
                            <td>{{ jh.register_at }}</td>
                            <td>{{ jh.lat }}</td>
                            <td>{{ jh.lng }}</td>
                            <td>{{ jh.jh }}</td>
                            <td class="text-center">
                                <a href="{% url 'jobhistories-edit' jh.id %}">Modificar</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

            </div>
        </div>
    </div>
{% endblock %}


{% block code_js %}
    {% include 'partials/_url_gmaps.html' %}

    <script type="text/javascript">
        var map;
        var markers = [];
        var lat = '{{ profilejob.job.lat }}';
        var lng = '{{ profilejob.job.lng }}';
        function initialize() {
            var myLatlng = new google.maps.LatLng(lat, lng);
            var myOptions = {
                zoom: 14,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById("gmap"), myOptions);
            // marker refers to a global variable

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(lat, lng),
                map: map
            });
            markers.push(marker);
        }
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        window.onload = function () {
            initialize()
        };
    </script>


{% endblock %}
