{% extends 'layout/admin_base.html' %}
{% load utils %}
{% block title_layout %}
    <h3>
        {% if perms.jobs.index_profilejob %}
            <a href="{% url 'profilejobs-index' %}" data-tooltip="tooltip" title="Atrás">
                <i class="fa fa-arrow-circle-left"></i></a>
        {% endif %}
        Mostrando Asignación
    </h3>
{% endblock %}
{% block layout %}
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <p>
                    <strong>{% get_verbose_field_name profilejob_instance 'state' %}</strong>
                    {{ profilejob.state }}
                </p>
                <p>
                    <strong>{% get_verbose_field_name profilejob_instance 'profile' %}</strong>
                    {{ profilejob.profile }}
                </p>
                <p>
                    <strong>{% get_verbose_field_name profilejob_instance 'job' %}</strong>
                    {{ profilejob.job }}
                </p>
                <p>
                    <strong>{% get_verbose_field_name profilejob_instance 'assign_at' %}</strong>
                    {{ profilejob.assign_at }}
                </p>
                <h3>Historial</h3>
                <table id="table-users" class="table table-bordered table-striped">
                    <thead class="table-bordered ">
                    <tr>
                        <th>#</th>
                        <th>{% get_verbose_field_name jobhistory_instance 'observation' %}</th>
                        <th>{% get_verbose_field_name jobhistory_instance 'register_at' %}</th>
                        <th>{% get_verbose_field_name jobhistory_instance 'lat' %}</th>
                        <th>{% get_verbose_field_name jobhistory_instance 'lng' %}</th>
                        <th>{% get_verbose_field_name jobhistory_instance 'profile' %}</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for profile in jobhistories %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ profile.observation }}</td>
                            <td>{{ profile.register_at }}</td>
                            <td>{{ profile.lat }}</td>
                            <td>{{ profile.lng }}</td>
                            <td>{{ profile.profile }}</td>
                            <td class="text-center">
                                <a href="{% url 'jobhistories-edit' profile.id %}">Modificar</a> |
                                <a href="{% url 'jobhistories-delete' profile.id %}">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

            </div>
        </div>
    </div>
{% endblock %}

{% block code_js %}

{% endblock %}