{% extends 'layout/admin_base.html' %}
{% block title_layout %}
    <h3>Zonas</h3>
{% endblock %}
{% load utils %}
{% block layout %}
    <div class="panel panel-primary">
        <div class="row">
            <div class="form-inline padding-bottom-15">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {% if perms.jobs.add_zone %}
                                <a href="{% url 'zones-new' %}"
                                   class="fcbtn btn btn-outline btn-primary btn-1f"> Nueva Zona</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-6 text-right m-b-20">
                        <div class="form-group">
                            <input id="demo-input-search2" type="text" placeholder="Buscar"
                                   class="form-control"
                                   autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
            <table id="table-users" class="table table-bordered table-striped">
                <thead class="table-bordered ">
                <tr>
                    <th>#</th>
                    <th>{% get_field_name zone_obj 'name' %}</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>

                <tbody>
                {% for zone in zones %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ zone.name }}</td>
                        <td class="text-center">
                            {% if perms.jobs.change_zone %}
                                <a href="{% url 'zones-edit' zone.id %}" data-tooltip="tooltip"
                                   title="Editar"><i class="fa fa-pencil text-success"></i></a>
                            {% endif %}
                            {% if perms.jobs.delete_zone %}
                                <a href="#" data-href="{% url 'zones-delete' zone.id %}"
                                   data-toggle="modal" data-target="#confirm-delete" data-tooltip="tooltip"
                                   title="Eliminar"> <i class="fa fa-times text-danger"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="6">
                        <div class="text-right">
                            <ul class="pagination">
                            </ul>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
{% block code_js %}
    <script>
        $(document).ready(function () {
            // Search input
            $('#demo-input-search2').on('input', function (e) {
                e.preventDefault();
                addrow.trigger('footable_filter', {filter: $(this).val()});
            });
            var addrow = $('#table-users');
            addrow.footable().on('click', '.delete-row-btn', function () {

                //get the footable object
                var footable = addrow.data('footable');

                //get the row we are wanting to delete
                var row = $(this).parents('tr:first');

                //delete the row
                footable.removeRow(row);
            });
        })
    </script>
{% endblock %}