{% extends 'layout/base.html' %}

{% block layout %}
    <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">SISTEMA DE GEOLOCALIZACION MEDIANTE DISPOSITIVOS MOVILES ANDROID PARA EL REGISTRO, DISTRIBUCION DE PERSONAL Y CONTROL DE TRABAJOS!</div>
            <div class="panel-wrapper p-b-10 collapse in">
              <div id="owl-demo" class="owl-carousel owl-theme">
                <div class="item"><img src="/static/images/background.jpg" alt="Owl Image"></div>
                <div class="item"><img src="/static/images/background.jpg" alt="Owl Image"></div>
                <div class="item"><img src="/static/images/background.jpg" alt="Owl Image"></div>
                <div class="item"><img src="/static/images/background.jpg" alt="Owl Image"></div>
                <div class="item"><img src="/static/images/background.jpg" alt="Owl Image"></div>
                <div class="item"><img src="/static/images/background.jpg" alt="Owl Image"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}