{% extends 'layout/admin_base.html' %}

{% block title_layout %}

    {% if perms.users.index_profile %}
        <a href="{% url 'profiles-index' %}" data-tooltip="tooltip" data-placement="right" title="Atrás"><i
                class="fa fa-arrow-circle-left"></i></a>
    {% endif %}Agregando Perfil
{% endblock %}

{% block layout %}
    <div class="white-box">
        {% include 'partials/_partial_form_horizontal.html' %}
    </div>

{% endblock %}
{% block code_js %}
    <script>
        $(document).ready(function () {
            $('#id_date_of_birth').datepicker({dateFormat: 'dd/mm/yy'});
            $('input:checkbox').addClass('js-switch');

            var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
            $('.js-switch').each(function () {
                new Switchery($(this)[0], $(this).data());
            });
        });
    </script>
{% endblock %}