<!DOCTYPE html>
<html{% if request.LANGUAGE_CODE %} lang="{{ request.LANGUAGE_CODE }}"{% endif %}>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">


    <title>{% block title %}SSP{% endblock %}</title>
    {% load staticfiles %}
    {% block css %}
    {% endblock %}
    {% block custom_css %}
    {% endblock %}

    <link rel="icon" href="/static/images/logo.png">
</head>

<body class="fix-sidebar">
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>

<div id="wrapper">

    {% block header %}
        {% include 'partials/_header_sidebar.html' %}
    {% endblock %}

    {% block content_main %}
        <div id="page-wrapper">
            <div class="container-fluid">
                {% include 'layout/_messages.html' %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="row bg-title">
                            <div class="col-lg-6 col-md-8 col-sm-8 col-xs-12">
                                <h4 class="page-title">
                                    {% block title_layout %}
                                    {% endblock %}
                                </h4>
                            </div>
                            <div class="col-lg-6 col-sm-4 col-md-4 col-xs-12">
                                {% block title_right %}
                                {% endblock %}
                            </div>
                        </div>
                        {% block layout %}
                        {% endblock %}

                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block url_js %}
    {% endblock %}
    {% block custom_url_js %}
    {% endblock %}

    {% block code_global_js %}
        <script type="text/javascript">
            $(document).ready(function () {
                $('input').addClass('form-control');
                $('input:checkbox, input:radio').removeClass('form-control');
                $('[data-tooltip="tooltip"]').tooltip();
                $('#confirm-delete').on('show.bs.modal', function (e) {

                    var title = $(e.relatedTarget).data('title');
                    var message = $(e.relatedTarget).data('message');

                    if (title !== undefined)
                        $(this).find('.modal-header').html(title);
                    if (message !== undefined)
                        $(this).find('.modal-body').html('<strong class="text-warning">' + message + '</strong>');

                    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
                });
            })
        </script>
    {% endblock %}
    {% block code_js %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
</div>
{% include 'partials/_modal_delete.html' %}
</body>
</html>