{% extends 'layout/layout.html' %}

{% block title %}
    SSP
{% endblock %}


{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'font-awesome-4.6.3/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'themify-icons/themify-icons.css' %}"/>
    <link rel="stylesheet" href="{% static 'simple-line-icons-master/css/simple-line-icons.css' %}"/>
    <link rel="stylesheet" href="{% static 'linea-icons/linea.css' %}"/>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'eliteadmin/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!--My admin Custom CSS -->
    <link href="{% static 'eliteadmin/plugins/bower_components/owl.carousel/owl.carousel.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'eliteadmin/plugins/bower_components/owl.carousel/owl.theme.default.css' %}" rel="stylesheet"
          type="text/css"/>
    <!-- animation CSS -->
    <link href="{% static 'eliteadmin/css/animate.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'eliteadmin/css/style.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->


{% endblock %}


{% block js %}
    {% load staticfiles %}



    <script src="{% static 'eliteadmin/plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'eliteadmin/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- jQuery for carousel -->
    <script src="{% static 'eliteadmin/plugins/bower_components/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'eliteadmin/js/custom.js' %}"></script>

{% endblock %}


{% block header %}
     {% load staticfiles %}
    <div id="wrapper">
  <div class="container-fluid">
    <!-- Row -->
    <div class="row">
        <div class="col-md-12 navbar-fixed">
            <div class="fix-width">
                <nav class="navbar navbar-default">

                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="{% static 'eliteadmin/images/sidebars.png' %}" alt="Eliteadmin" /></a>
                      </div>

                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                        <ul class="nav navbar-nav custom-nav navbar-right">
                          <li><a href="{% url 'log_in' %}" class="btn btn-danger btn-rounded custom-btn" >ENTRAR</a></li>
                        </ul>
                      </div><!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>
    </div>
    <!-- /Row -->



    <div class="row">
        <div class="col-md-12">
            <div class="fix-width text-center banner-part">
                <h1 class="banner-title">SISTEMA DE GEOLOCALIZACION MEDIANTE DISPOSITIVOS MOVILES ANDROID PARA EL REGISTRO, DISTRIBUCION DE PERSONAL Y CONTROL DE TRABAJOS</h1>
                <span class="banner-small-text"></span>
                <img src="{% static 'eliteadmin/images/banner-welcome.png' %}" class="img-responsive" />
            </div>
        </div>
    </div>

  </div>
</div>
{% endblock %}
{% block content_main %}
    {% block layout %}

    {% endblock %}
{% endblock %}

{% block footer %}
{% endblock %}
