{% extends 'layout/admin_base.html' %}
{% load utils %}
{% block title_layout %}
    Notificaciones
{% endblock %}

{% block layout %}
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <table class="table table-bordered table-striped">
                    <thead class="table-bordered ">
                    <tr>
                        <td>Titulo</td>
                        <td>Mensaje</td>
                        <td>Técnico</td>
                        <td>Enviado</td>
                        <td>Leido?</td>
                        <td>Opciones</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for notification in notifications %}
                        <tr>
                            <td>{{ notification.title }}</td>
                            <td>{{ notification.content }}
                                {% get_obj_from_notification notification as obj %}
                                {% if obj is not None %}
                                    <b><a href="{% url 'profilejobs-show' obj.id %}">{{ obj }}</a></b>
                                {% endif %}
                            </td>
                            <td>{{ notification.profile }}</td>
                            <td>{{ notification.register_at }}</td>
                            <td class="text-center">
                                {% if notification.read_at %}
                                    <span class='label label-success label-rounded'>Si</span>
                                {% else %}
                                    <span class='label label-default label-rounded'>No</span>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if perms.notifications.show_notification %}
                                    <a href="{% url 'notifications-show' notification.id %}" data-tooltip="tooltip"
                                       title="Más Detalles"><i
                                            class="fa fa-bars text-success"></i></a>
                                {% endif %}
                                {% if perms.notifications.delete_notification %}
                                    <a href="{% url 'notifications-show' notification.id %}" data-tooltip="tooltip"
                                       title="Eliminar"><i
                                            class="fa fa-times text-danger"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_js %}

{% endblock %}