{% extends 'layout/admin_base.html' %}
{% load utils %}
{% block title_layout %}
    <h3>Trabajos</h3>
{% endblock %}
{% block layout %}
    <div class="panel panel-primary">
        <div class="row">
            <div class="form-inline padding-bottom-15">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <a href="{% url 'jobs-new' %}"
                               class="fcbtn btn btn-outline btn-primary btn-1f"> Agregar</a>
                        </div>
                    </div>
                    <div class="col-sm-6 text-right m-b-20">
                        <div class="form-group">
                            <input id="demo-input-search2" type="text" placeholder="Buscar"
                                   class="form-control"
                                   autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
            <table id="table-users" class="table table-bordered table-striped">
                <thead class="table-bordered ">
                <tr>
                    <th>#</th>
                    <th>{% get_field_name job_obj 'jobtype' %}</th>
                    <th>{% get_field_name job_obj 'state' %}</th>
                    <th>{% get_field_name job_obj 'register_at' %}</th>
                    <th>{% get_field_name job_obj 'name_client' %}</th>
                    <th>{% get_field_name job_obj 'description' %}</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>

                <tbody>
                {% for job in jobs %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ job.jobtype }}</td>
                        <td>{{ job.state }}</td>
                        <td>{{ job.register_at }}</td>
                        <td>{{ job.name_client }}</td>
                        <td>{{ job.description }}</td>
                        <td class="text-center">
                            <a href="{% url 'jobs-show' job.id %}" data-tooltip="tooltip"
                               title="Más Detalles"><i
                                    class="fa fa-bars text-success"></i></a>
                            <a href="{% url 'jobs-edit' job.id %}" data-tooltip="tooltip"
                               title="Modificar"><i
                                    class="fa fa-pencil text-success"></i></a>
                            <a href="{% url 'profilejobs-new' job.id %}" data-tooltip="tooltip"
                               title="Asignar">
                                <i class="fa fa-share text-success"></i>
                            </a>
                            <a href="#" data-href="{% url 'jobs-delete' job.id %}"
                               data-toggle="modal" data-target="#confirm-delete" data-tooltip="tooltip"
                               title="Eliminar">
                                <i class="fa fa-times text-danger"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="7">
                        <div class="text-right">
                            <ul class="pagination">
                            </ul>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
{% block custom_js %}

    <script>
        $(document).ready(function () {
            // Search input
            $('#demo-input-search2').on('input', function (e) {
                e.preventDefault();
                addrow.trigger('footable_filter', {filter: $(this).val()});
            });
            var addrow = $('#table-users');
            addrow.footable().on('click', '.delete-row-btn', function () {

                //get the footable object
                var footable = addrow.data('footable');

                //get the row we are wanting to delete
                var row = $(this).parents('tr:first');

                //delete the row
                footable.removeRow(row);
            });
        })
    </script>
{% endblock %}